<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Hikes'}) %>
    <link rel="stylesheet" href="/styles/hike-index.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>
        <br>
<h2>My Saved Hikes</h2>
    <main>
        <section class="hikelist">
            
            <ul>
                <% for (let hike of hikes) { %>
                <br>
                <li>
                    <figure>
                        
                        <figcaption>
                            <h4><%= hike.name %></h4>
                            <%= hike.miles %> miles
                            <p><%= hike.elevationGain %> feet of climb 
                            <br>    
                            <a class="link" href="/hikes/<%= hike._id %>">Learn More</a>
                        </figcaption>
                    </figure>
                </li>
                <% } %>
            </ul>
        </section>
        <br>
      <div id="addhike"><a class="addhike" href="/hikes/new">Add A Hike</a></div>
    </main>

    
</body>

</html>